$bg-color: #222831;
$box-color: rgba(34, 34, 34, 0.8);
$box-secondary-color: #272e37;
$other-box-color: #222831ea;
$primary-button-color: linear-gradient(137deg, rgba(45,136,255,1) 0%, rgba(87,160,255,1) 100%);