$orange: #ffa243;

$primary-color: #fff;
$attribute-color: #e86070 / 0.9;
$variable-color: scale-color(#e4d6ff, $saturation: -90%);
$string-color: #bdc1c7;
$comment-color: #7d8c93;
$keyword-color: scale-color(#e784a2, $saturation: 100%); 
$name-color: #e784a2;
$title-color: #85b5c7;
$symbol-color: $orange;
$number-color: #5cbffc;
$tag-color: #e8e2b7;
$regexp-color: #6b60aa;

$section-color: #99f;
$meta-color: $orange;

.hljs- {
	&keyword {
		color: $keyword-color;
		font-style: italic;
	}

	&attribute {
		color: $attribute-color;
	}

	&string {
		color: $string-color;
	}

	&comment {
		color: $comment-color;
	}

	&tag {
		color: $tag-color;
	}

	&name, &built_in {
		color: $name-color;
		font-weight: bold;
	}

	&symbol {
		color: $symbol-color;
	}

	&title {
		color: $title-color;
	}

	&number {
		color: $number-color;
	}

	&regexp {
		color: $regexp-color;
	}

	&type, &class, &title {
		color: $title-color;
	}

	&variable {
		color: $variable-color;
	}

	&section {
		color: $section-color;
	}

	&meta {
		color: $meta-color;
	}

	&literal, &template-variable, &tag .hljs-attr {
		color: $primary-color;
	}
}